#header {
  width: 100%;
  height: 100vh;

  position: relative;
  z-index: 0;

  #video {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 1;

    object-fit: cover;
  }

  #overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 2;

    background-color: #262626;
    opacity: 0.5;
  }

  #intro {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 3;
  }
}
