#header {
  width: 100%;
  height: 100vh;

  position: relative;
  z-index: 0;

  #video {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 1;

    object-fit: cover;
  }

  #overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 2;

    background: linear-gradient(to right, #fc5c7d, #6a82fb);

    opacity: 0.4;
  }

  #intro {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 3;
  }
}

/* Popular places */
#destinations {
  position: relative;
  overflow: hidden;

  #popular {
    display: flex;

    // column-gap: 2rem;

    #cols {
      flex: 1;
    }
  }

  svg {
    fill: rgb(30, 41, 59);
    fill-opacity: 1;
    display: block;
    margin-bottom: -10px;
  }
}

#message {
  div {
    @apply pt-5;

    input,
    textarea {
      @apply p-3 w-full rounded-sm text-gray-700 outline-none md:w-[95%];
    }

    textarea {
      @apply h-[10rem];
    }

    button {
      @apply bg-blue-600 hover:bg-blue-500 p-3 px-10 rounded-sm text-blue-100 hover:text-white text-lg shadow-md transition-all delay-300 ease-in;
    }
  }
}
