#header {
  width: 100%;
  height: 100vh;

  position: relative;
  z-index: 0;

  #video {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 1;

    object-fit: cover;
  }

  #overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 2;

    background-color: #262626;
    // opacity: 0.4;

    background: linear-gradient(to right, #fc5c7d, #6a82fb);

    opacity: 0.6;
  }

  #intro {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 3;
  }
}

/* Popular places */
#destinations {
  position: relative;
  overflow: hidden;

  #popular {
    display: flex;

    // column-gap: 2rem;

    #cols {
      flex: 1;
    }
  }

  svg {
    fill: rgb(148 163 184);
    fill-opacity: 1;
    display: block;
  }
}
